-# frozen_string_literal: true
= simple_form_for(@press_release) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :title
    = f.input :article, as: 'ckeditor'
    = f.input :published_on

  .form-actions
    = f.button :submit, class: 'btn btn-primary'
