%h1 Listing ideas2020s

%table
  %thead
    %tr
      %th Email
      %th Name
      %th Title
      %th
      %th
      %th

  %tbody
    - @ideas2020s.each do |ideas2020|
      %tr
        %td= ideas2020.email
        %td= ideas2020.name
        %td= ideas2020.title
        %td= link_to 'Show', ideas2020
        %td= link_to 'Edit', edit_ideas2020_path(ideas2020)
        %td= link_to 'Destroy', ideas2020, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Ideas2020', new_ideas2020_path
