.container.mini-frame
  .col-md-6
    %h3.text-center Register with Think India NIT Rourkela 
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = render "devise/shared/error_messages", resource: resource
      .field
        = f.label :name
        %br/
        = f.text_field :name, class: 'form-control'
      .field
        = f.label :about_me
        %br/
        = f.text_area :about_me, class: 'form-control'
      .field
        = f.label :email
        %br/
        = f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control'
      .field
        = f.label :password
        - if @minimum_password_length
          %em
            (#{@minimum_password_length} characters minimum)
        %br/
        = f.password_field :password, autocomplete: "new-password", class: 'form-control'
      .field
        = f.label :password_confirmation
        %br/
        = f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control'
      %br/
      .field
        = f.check_box :terms
        I accept terms and conditions given at #{link_to('Terms and conditions', terms_and_conditions_path)}
      %br/
      .field
        = f.check_box :allow_promotional_messages
        Send me updates and newsletter.
      .field
        = recaptcha_tags
      .actions
        = f.submit "Sign up", class: 'btn btn-primary'
    = render "devise/shared/links"
  .col-md-6
    %br/
    %br/
    %br/
    .col-md-offset-3
      = google_sign_in_button image_tag(asset_path("google-signin.png"), height: 50), proceed_to: create_login_url, class: 'google-submit'
