-# frozen_string_literal: true
= simple_form_for([@opening, @application_form]) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :name
    = f.input :contact_no
    = f.input :email
    = f.input :message, as: :ckeditor
    = f.input :are_you_nit_rourkela_student, label: "I am a NIT Rourkela Student"

  .form-actions
    = f.button :submit, class: 'btn btn-primary'
