<!DOCTYPE html>
<html>
  <head>
    <title>Think India NITR Forum</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <%= stylesheet_link_tag 'thredded', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'custom-threaded', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path("favicon.ico") %>
    <%= csrf_meta_tag %>
    <%= csp_meta_tag if Thredded.rails_supports_csp_nonce? %>
    <%= javascript_include_tag 'thredded',
                               async: !Rails.application.config.assets.debug,
                               defer: true,
                               'data-turbolinks-track': 'reload' %>
    <%== Gravatar.prefetch_dns %>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  </head>
  <body>
    <%= image_tag "logo.png", class: 'forum-logo' %>
    <br/>
    <div class="forum-title"><small>.<small></div>
    <h2 class="forum-title">Think India Forum</h3>
    <hr/>
    <%= yield %>
  </body>
</html>
