.container.mini-frame
  .pull-right= link_to 'Add New Post', new_post_path, class: 'btn btn-primary'
  %h1.text-center Think India NITR Blogs
  
  - if current_user && current_user.admin
    %h3 Under moderation
    - @unpublished_posts.each do |post|
      %p
        %h3= link_to post.title, post
        = strip_tags(post.content)[0..100]
        %br/
        Posted by #{link_to post.user.name, "/users/" + post.user.slug}
    %b= "No blog in moderation right now." if @unpublished_posts.empty?
    .solidline
  - @posts.each do |post|
    %p
      .pull-right Published on: #{post.created_at.strftime("%d/%m/%Y")}
      %h3= link_to post.title, post
      = strip_tags(post.content)[0..100]
      - if strip_tags(post.content).length > 100
        %small= link_to "more..", post
      %br/
      Posted by: #{link_to post.user.name, "/users/" + post.user.slug}
    %p
      .solidline
  %b= "No blog published yet." if @posts.empty?

