.container
  %h1 Called friends list

  %table.table.table-bordered
    %thead
      %tr
        %th Name
        %th Friends Name
        %th Contact No
        %th Whatsapp No
        %th Institution
        %th Department
    
    %tbody
      - @call_your_friends.each do |call_your_friend|
        - call_your_friend.called_friends.each do |friend|
          %tr
            %td= call_your_friend.your_name
            %td= friend.name
            %td= friend.contact_no
            %td= friend.whatsapp_no
            %td= friend.institution
            %td= friend.department

  %br

  = link_to 'New Call your friend', new_call_your_friend_path
