%section.callaction
  .container
    .row
      .col-md-12
        .big-cta
          %h5 Did you find this portal intrusting? Help us to expand our reach. Invite your friends to Think India NITR!
          = form_tag user_invitations_path do
            .col-md-3= text_field_tag :name, nil, class: 'form-control', placeholder: 'Name'
            .col-md-3= text_field_tag :email, nil, class: 'form-control', placeholder: 'Email'
            .col-md-3= recaptcha_tags 
            .col-md-3= submit_tag "Send Invitation", class: 'btn btn-primary pull-right'
              
%footer
  .container
    .row
      .col-md-3
        .widget
          %h5.widgetheading Browse pages
          %ul.link-list
            %li= link_to "About", about_path
            %li= link_to "Our Services", "/#services"
            %li
              %a{:href => about_path} Team
            %li
              %a{:href => new_contact_path} Get in touch with us
      .col-md-3
        .widget
          %h5.widgetheading Important stuff
          %ul.link-list
            %li
              %a{:href => news_and_events_path } News & Events
            %li
              %a{:href => terms_and_conditions_path} Terms and conditions
            %li
              %a{:href => privacy_policy_path} Privacy policy
            %li
              %a{:href => openings_path} Openings 
      .col-md-3
        .widget
          %h5.widgetheading Get in touch with us
          %address
            %strong Think India NIT Rourkela 
            %br/
            NIT Rourkela
            %br/
            Pin: 769008
          %p
            %i.icon-phone
            +91-944-129-6505
            %br/
            %i.icon-envelope-alt
            thinkindianitr@gmail.com
  #sub-footer
    .container
      .row
        .col-md-6
          .copyright
            %p
              %span © Think India NIT Rourkela - All right reserved.
        .col-md-6
          %ul.social-network
            %li
              %a{"data-placement" => "bottom", :href => "https://www.facebook.com/thinkindianitr", :title => "Facebook"}
                %i.icon-facebook.icon-square
            %li
              %a{"data-placement" => "bottom", :href => "https://twitter.com/thinkindianitr", :title => "Twitter"}
                %i.icon-twitter.icon-square
%a.scrollup{:href => "#"}
  %i.icon-chevron-up.icon-square.icon-32.active
/
  javascript
  \==================================================
/ Placed at the end of the document so the pages load faster
