%meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
%meta{:charset => "utf-8"}/
%title= @title
%meta{:content => @description, :name => "description"}/
%meta{name: 'robots', content: 'index, follow'}/

%meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
= favicon_link_tag asset_path("favicon.ico")
= csrf_meta_tags
= csp_meta_tag

/ css

%link{:href => "https://fonts.googleapis.com/css?family=Noto+Serif:400,400italic,700|Open+Sans:300,400,600,700", :rel => "stylesheet"}/
= stylesheet_link_tag :application
= javascript_include_tag Ckeditor.cdn_url
= javascript_include_tag :application

:plain
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-151345591-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-151345591-1');
  </script>

/ Fav and touch icons
%link{:href => asset_path("ico/favicon.png"), :rel => "shortcut icon"}/
